.imageCatalogue{
    height: 350px;
}

.card-body{
    height: 200px;
}

.link{
    text-decoration: none;
}

.duration {
    position: absolute;
    bottom: 10px;
    right: 10px
}

.recipe-name{
    font-weight: bold
}